* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    height: auto;
  }
  section {
    height: 1000vh;
  }
  nav {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px 4px 10px;
  }
  .dflex {
    display: flex;
    align-items: center;
  }
  .item {
    padding: 10px 10px;
  }
  .item:hover {
    border: 1px solid #fff;
    border-radius: 2px;
    margin: -1px;
  }
  .logo {
    text-align: center;
    margin: 1px;
    margin-bottom: -5px;
    padding: 6px 8px 0px 0px;
    height: 42px;
  }
  a {
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 5px 5px;
  }
  a:hover {
    border: 1px solid #fff;
    margin: -1px;
    border-radius: 3px;
  }
  a span {
    font-size: 14px;
    margin-left: -10px;
  }
  p {
    font-size: 12px;
    line-height: 15px;
  }
  .item i {
    padding: 0 3px;
  }
  nav input {
    width: 740px;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
  }
  nav button {
    padding: 10px 10px;
    color: black;
    font-size: 17px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
  }
  nav .all {
    background: #ddd;
    border-radius: 5px 0px 0px 5px;
  }
  nav .search {
    padding: 10px 17px;
    margin: -2px;
    background: rgb(247, 155, 80);
    border-radius: 0px 5px 5px 0px;
  }
  nav .search i,
  nav .all i {
    color: black;
  }
  
  .box:hover {
    border: 4px solid rgb(247, 155, 80);
    box-shadow: 0px 0px 3px 0px rgb(247, 155, 80);
    border-radius: 10px;
  }
  .subnavigation {
    background-color: #232f3e;
    padding: 6px 15px;
  }
  .submenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  ul li {
    list-style: none;
    font-weight: 500;
    padding: 1px 5px;
    font-size: 14px;
  }
  nav submenu i {
    font-size: 16px;
  }
  .li {
    margin: -5px;
    font-size: 20px;
  }
  .bg {
    position: relative;
    padding: 6px 6px;
    margin: -5px 0;
    margin-right: 10px;
    background-color: rgb(247, 155, 80);
  }

.banner{
  width: 100%;
}
.banner img{
  width: 100%;
}
.banner .banner_img{
    margin-bottom: -153px;
    mask-image: linear-gradient(180deg, #000, transparent);
}

.product{
  padding: 0px 15px;
}
.product .product_row .product_body{
  width: 100%;
  background-color: var(--color1);
  padding:20px;
  margin:10px;
  z-index: 1;
}
.product .product_row .product_body .product_description p{
font-size:18px;
}
.product .product_row .product_body .product_price p{
  font-size:18px;
  margin:5px 0px;
}
.product .product_row .product_body .product_price p span{
  font-size:20px;
  font-weight:bold;
}
.product .product_row .rating li{
  margin-right: 3px;
  font-size:20px;
}
.product .product_row .rating li .fa-star{
  color: var(--color);
}
.product .product_row .product_body .product_img{
 justify-content:center;
}
.product .product_row .product_body .product_img img{
  height:200px;
  margin:10px 0px;
}
.product .product_row .button-cart{
  justify-content:center;
  margin:10px 0px;
}
.product .product_row .button-cart button{
  padding:5px 10px;
  cursor: pointer;
  border: none;
  font-size:16px;
  background-color:var(--color);
}

.footer{
  background-color:var(--background-nav);
  padding:50px;
}
.footer .footer_row{
 padding-bottom: 20px;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items:center;
  border-bottom: 1px solid var(--color);
}
.footer .footer_row .logo img{
  width: 100px;
}
.footer .footer_row .pages ul li,.footer .footer_row .contact ul li{
  margin:5px 0px;
  font-size: 18px;
  text-align: center;
}
.footer .footer_row .pages ul li a{
  color: var(--color1);
  text-transform: capitalize;
}
.footer .footer_row .contact ul li a span{
  color: var(--color1);
  margin-left: 10px;
}
.footer .footer_row .contact ul li a{
  color: var(--color);
}
.footer .developer {
  text-align: center;
  margin-top: 10px;
}
.footer .developer a{
  color: var(--color1);
  font-size: 16px;
}
.footer .developer a span{
  color: var(--color);
  font-size:18px;
}

@media(max-width:716px){
  h2{
      display:flex;
  }
.banner, .none,.product,.footer{
      display:none;
  }
}

